.navbar{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  color:cadetblue;
  border-bottom: lightyellow;
  box-shadow: grey 0px 1px 8px 2px;
}

.title{
 font-size: xx-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact{
  color: white;
  margin-left: 1em;
  padding-left: 1em;
}

.navbar-brand {
  padding: 2em;
}

.site-hero{
  background-image:url(../assets/44\ [Converted].png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.hero-text{
  text-align: left;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5em;
  font: weight 600px;
  font-size: 5em;
  gap: 2em;
  text-decoration: none;
  text-decoration-line: none;
  list-style: none;
}

ul{
  text-decoration: none;
  text-decoration-line: none;
}

a{
  list-style-type:none;
  text-decoration-line: none;
  text-decoration: none;
}
li{
  list-style-type: none;
  text-decoration: none;
  font-style: none;
}