body {margin:2px;
    height: 3000px;
    background-color: azure;}

li {display: inline;      
    padding: 10px;
    margin: 0;
    }
nav { text-align: center;
    background-color: slategray;
    padding: 10px; 
    position: sticky;
    top: 0;
    margin-bottom: 0;
    }
div { margin:0px;
    background-color: azure;
    padding: 10px;
    }
ul { padding-left: 0;}

a {text-align: center; 
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    padding: none;
    }
a:hover {display: inline-block;
    color: white; 
    border: 2px ridge white; 
    background-color:blueviolet;
    padding: 20px;    
    border-style: ridge;
    margin: 0;}

.home   {   font-family: sans-serif;
            border: ridge slategrey 1px;
        }
.about  {   font-family: sans-serif;
            border: ridge slategrey 1px;
        }
.contact{   font-family: sans-serif;
            border: ridge slategrey 1px;
        }
