.drop_down {
        position: absolute;
        z-index: 99;
        display: none;
}
.drop:hover .drop_down{
    display: block;
}
@media (max-width: 786px){
    body {
        background-color: black;
    }
}