body {
    background-color: black;
    margin: auto;
}
nav{
    background-color: black;
    margin: auto;
}
header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: auto;
    gap: 15px;
    
}
.menu {
        position: absolute;
        z-index: 99;
        display: none;
}
.drop_shop:hover .drop_down{
    display: block;
}
.drop_blog:hover .drop_down{
        display: block;
}
