.container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas: "header header header header"
     "main main main sidebar" 
     "footer footer footer footer";
}
header{
     grid-area: header;
     background-color: orange;
}
nav {
     grid-area: sidebar;
     background-color: red;
}
main{ 
     grid-area: main;
     background-color: blue;
}
.carousel-item :active{
     object-fit: cover;
     height: 100%;
}
.carousel-item {
     height: 20vh;
}

footer{
     grid-area: footer;
     background-color: green;
}


