body {
	font-family: "Poppins",sans-serif;
	font-size:14px;
	color:lightslategray;
	line-height: 17px;
	font-weight:400;
    padding: 10px;
    margin: 20px;
	max-width: 600px;
	max-height: auto;
	background:black;
}

a {
	text-decoration:none;
	cursor:pointer;
	color:#1543fd;
}

h3{
	position:relative;
    font-family: "Poppins", sans-serif;
	font-weight:normal;
    font-size: 40px;
	margin:25px;
    padding: 15px;
	background:none;
	line-height: 1.6px;


}

textarea{
	overflow:hidden;
}

p{
	position:relative;
	line-height:1.8px;	
	margin: 25px;
	padding: 15px;
}

.container{
	position:static;
	max-width:600px;
	padding:0px 15px;
	margin:0 auto;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}
.btn-style{
	position: relative;
	display: inline-block;
	cursor:pointer;
	background:none;
	font-size: 16px;
	line-height: 30px;
	color: white;
	padding: 14px 46px;
	font-weight: 600;
	overflow: hidden;
	text-transform: uppercase;
	border:2px solid rgba(255,255,255,0.20);
	font-family: 'Poppins', sans-serif;
}
.group-title h3{
	position:relative;
	color:#ffffff;
	margin-bottom:10px;	
	text-transform:uppercase;
}

.form-text{
	position: relative;
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8epx;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.form-group{
	margin-bottom:20px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:28px;
	padding:10px 25px;
	color:grey;
	height:60px;
	font-size:16px;
	background:black;
	font-family: 'Poppins', sans-serif;
	border:1px solid gray;
}

.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus{ 
    border-color:white;
}

.form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:15px 25px 25px;
	color: grey;
	border:1px solid gray;
	height:168px;
	background:black;
	resize:none;
	font-size:16px;
	transition:all 300ms ease;
	font-family: 'Poppins', sans-serif;
}

.form-group .data{
	position:relative;
	float:center;
	font-size:16px;
	margin-top:18px;
	margin-left:30px;
	font-family: 'Poppins', sans-serif;
}


